
@import url('https://fonts.googleapis.com/css?family=Nunito:800|Open+Sans:400,700');
@media only screen and (max-width : 1366px) and (min-width : 900px){
        /* 2 tile */
            .wrapper{
            width:100%; 
           
            }
    }
@media only screen and (max-width :667px) and (min-width : 375px) and (-webkit-min-device-pixel-ratio:2){
    #wrapper{
        width: 100%;
        height: 667px;
    }
    #wrapper2{
        width: 100%:
    }

   
 
h1,h2,h3,h4{
    font-family: 'Nunito', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}
#wrapper{
    width: 375px;
    height: 667px;
    background-color: #64A4C3;
}
#wrapper2{
    width: 375px;
    height: 667px;
    background-color: #FFDA6F;
}
#landingPage{
    width: 100%;
    height: 100%;
    position: relative;   
}
#logo{
    width: 40%;
    height: auto;
    margin: auto;
    position: absolute; 
    top: 15%; 
    left: 0; 
    right: 0; 
}
button, input{
    font-size: 1rem;
}
a{
    text-decoration: none;
}
#userN{
    width: 230px;
    height: 45px;
    border-radius: 80px;
    border: none;
    position: absolute;
    top: 46%;
    left: 0;
    right: 0;
    margin: auto;
    align-content: center;
    text-align: center;
}
#saveUN{
    width: 165px;
    font-size: 0.75rem;
    height: auto;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    
}
.clickB{
    background-color: #2A81B9;
    color: white;
    width: 140px;
    height: 45px;
    border: none;
    border-radius: 80px;
    margin: auto;
    display: block;
    margin-bottom: 0.6rem; 
}
#startB{
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
}
.clickB:hover{
    background-color: #ffffff;
    color: #2A81B9;  
}
.title{
    width: 100%;
    height: 50px;
    background-color: #D33737;
    position: relative;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 1.1rem;
}
.title p{
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    bottom: 0;
}
#sizeC{
    width: 85px;
    height: auto;
    margin: 2.5rem auto;
}
.sizeB{
    width: 85px;
    height: 85px;
    background-color:#2A81B9; 
    border: none;
    border-radius: 15px;
    font-size: 2.5rem;
    font-family: 'Nunito', sans-serif;
    color: white;
    margin:1rem auto;
    cursor: pointer;
}
.sizeB:hover{
    background-color: #1F3944;
    color: white;
}
#largeS:hover{
    background-color: #1F3944;
    background-image: url(SVG/locked.svg);
    background-position: center;
    background-size: auto 65%;
    background-repeat: no-repeat;  
}
#dogC{
    width: 120px;
    height: auto;
    margin: 3rem auto;
}
#shiba{
    background-image: url(SVG/shibaIcon.svg);
}
#bulldog{
    background-image: url(SVG/bulldogIcon.svg);
}
#pug{
    background-image: url(SVG/pugIcon.svg);
}
#beagle{
    background-image: url(SVG/beagleIcon.svg);
}
.dogType{
    width: 120px;
    height: 120px;
    background-color:#64A4C3; 
    border: none;
    border-radius: 15px;
    font-size: 2.5rem;
    font-family: 'Nunito', sans-serif;
    color: white;
    margin:1rem auto;
    cursor: pointer; 
    background-position: center;
    background-size: auto 80%;
    background-repeat: no-repeat;
}
#alert:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 9px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	margin-left: -9px;
	margin-top: -9px;
}
#alert{
    width: 230px;
    background-color: #ffffff;
    border-radius: 6px;
    height: 30px;
	content: '';
    position: relative;
    bottom: 22.5%;
    left: 0;
    right: 0;
    margin:auto;
    font-size: 0.7rem;
    text-align: center;
}
#alert p{
    display: inline-block;
    position: absolute;
    top: -10%;
    left: 10%;
    right: 0;
    bottom: 0;
}
#alert img{
    position: absolute;
    left: 4%;
    top: 15%;
    width: 20px;
    display: inline-block;
}
.dogName{
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    padding: 0;
    text-align: center;
    align-content: center;
    color: #D33737;
}
#backIcon{
    width: 22px;
    padding: 13px 15px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 25%;
}
#wrapper5{
    width: 375px;
    height: 667px;
    margin: 0;
    background-color: aliceblue;
    position: relative;
    top: 0;
}
#dogImg{
    background-color: #FFDA6F;
    width: 100%;
    height: 36%;
    position: absolute;
    top: 0;
    left: 0;
}
#dogN{
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto; 
}
#shibaStand{
    width: 24%;
    height: auto;
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    margin: auto;
}
#grass{
    position: absolute;
    bottom: -1%;
}
}
