
@import url('https://fonts.googleapis.com/css?family=Nunito:800,900|Open+Sans:300,400,600,700');
/*
@media only screen and (max-width : 1366px) and (min-width : 900px){
         2 tile 
            .wrapper{
            width:100%; 
           
            }
    }
*/

/*----------------------------- GENERAL SETTING -----------------------------*/
/*---------------------------------------------------------------------------*/
h1,h2,h3,h4{
    font-family: 'Nunito', sans-serif;
}
p, body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 375px;
    height: 667px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
.overflow-hidden{
    overflow: hidden;
}
.blue{
    background-color: #64A4C3;
}
.yellow{
    background-color: #FFDA6F;
}
.blue{
    background-color:#64A4C3
}
.darkblue{
    background-color: #2a81b9; 
}
.red{
    background-color: #D33737;
}
button, input{
    font-size: 1.1rem;
}

/*-------------------------------- ID SELETOR -------------------------------*/
/*---------------------------------------------------------------------------*/
#landingPage{
    width: 100%;
    height: 100%;
    position: relative;   
}
#logo{
    width: 40%;
    height: auto;
    margin: auto;
    position: absolute; 
    top: 15%; 
    left: 0; 
    right: 0; 
}

#userN{
    width: 230px;
    height: 45px;
    border-radius: 80px;
    border: none;
    position: absolute;
    top: 46%;
    left: 0;
    right: 0;
    margin: auto;
    align-content: center;
    text-align: center;
}
#saveUN{
    width: 165px;
    font-size: 0.75rem;
    height: auto;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    
}
.clickB2{
    font-size: 0.9rem;
    background-color: #FFDA6F; 
    color: #555;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 150px;
    margin: auto;
    display: block;
    margin-bottom: 1rem; 
}
.clickB2:hover{
    background-color: #7D995F;
    color: #FFFFFF;  
}
.title{
    width: 100%;
    height: 50px;
    position: relative;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 1.2rem;
} 
.title p{
    position: absolute;
    top:25%;
    left: 0;
    right: 0;
    margin: auto;
    font-family:'Nunito', sans-serif;
}
#gameGuide{
    width: 53%;
    height: auto;
    padding: 1rem;
    margin: 3rem auto 0 auto;
    background-color:#FFFFFF; 
    border-radius: 10px;
    border-radius: 10px;
    font-size:0.85rem;
}
#gameGuide:after {
	content: '';
	position: absolute;
	top: 149px;
	left: 50%;
	width: 0;
	height: 0;
	border: 9px solid transparent;
	border-top-color: #ffffff;
	margin-left: -12px;
	margin-bottom: -12px;
}
#tab{
    transform: rotate(180deg);
    width: 80px;
    height: auto;
    align-content: center;
    position: absolute;
    top: 24%;
    left: 0;
    right: 0;
    margin: auto;
    animation: tab 2s infinite;
}

@keyframes tab{
    50%{top:27%;opacity: 0.7;}
}
/*---------------------------- SIZE & DOG ICON ------------------------------*/
/*---------------------------------------------------------------------------*/
#sizeC{
    width: 100px;
    height: auto;
    margin: 4.5rem auto 0rem auto;
}
.sizeB{
    width: 100px;
    height: 100px;
    background-color:#2A81B9; 
    border: none;
    border-radius: 15px;
    font-size: 2.5rem;
    font-family: 'Nunito', sans-serif;
    color: white;
    margin: 2rem auto 1rem auto;
    cursor: pointer;
    text-align: center;
    align-content: center;
}
.sizeB:hover{
    background-color: #1F3944;
    color: white;
}
#largeS:hover{
    background-color: #1F3944;
    background-image: url(SVG/locked.svg);
    background-position: center;
    background-size: auto 65%;
    background-repeat: no-repeat;  
}
#dogC{
    width: 130px;
    height: auto;
    margin: 2.5rem auto;
}
#shiba{
    background-image: url(SVG/shibaIcon.svg);
}
#bulldog{
    background-image: url(SVG/bulldogIcon.svg);
}
#pug{
    background-image: url(SVG/pugIcon.svg);
}
#beagle{
    background-image: url(SVG/beagleIcon.svg);
}
.dogType{
    width: 130px;
    height: 130px;
    background-color:#64A4C3; 
    border: none;
    border-radius: 15px;
    font-family: 'Nunito', sans-serif;
    color: white;
    margin:1.2rem auto;
    cursor: pointer; 
    background-position: center;
    background-size: auto 80%;
    background-repeat: no-repeat;
}
#alert:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 9px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	margin-left: -9px;
	margin-top: -9px;
}
#alert{
    width: 235px;
    background-color: #ffffff;
    border-radius: 6px;
    height: 30px;
	content: '';
    position: relative;
    bottom: 0%;
    left: 0;
    right: 0;
    margin:auto;
    font-size: 0.7rem;
    text-align: center;
}
#alert p{
    display: inline-block;
    position: absolute;
    top: -10%;
    left: 13%;
    right: 0;
    bottom: 0;
}
#alert img{
    position: absolute;
    left: 3%;
    top: 15%;
    width: 20px;
    display: inline-block;
}
#TdogName{
    background-color: #7D995F;
}
#dogName{
    width: 100%;
    height: 20%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #D33737;
    align-content: center;
    text-align: center;
}
/*------------------- DOG HOUSE BACKGROUND FOR BREED PAGE -------------------*/
/*---------------------------------------------------------------------------*/
#backImg{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}
#ballAni{
    width: 40px;
    height: 35px;
    position: absolute;
    right: -12%;
    bottom: 3%;
    animation: ball 12s infinite ease-in-out; 
    animation-delay: 1s;
}
#ball{
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    animation: rotateBall 3s infinite linear;
}
#ball-shadow{
    width:100%;
    position: absolute;
    bottom: 0;
    left: -10%;
}
@keyframes ball{
    50%{right:120%;}
}
@keyframes rotateBall{
    from {transform: :rotate(0deg);}
    to {transform: rotate(360deg);}
}
#dogImg{
    background-color: #FFDA6F;
    width: 100%;
    height: 250px;
    position: relative;
    top: 0;
    left: 0;
}
#dogN{
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto; 
}
#grass{
    position: absolute;
    bottom: -1%;
}
/*----------------------------------- PUG -----------------------------------*/
/*---------------------------------------------------------------------------*/
#pugH{
    width: 22%;
    height: auto;
    position: absolute;
    bottom: 44%;
    left: 43%;
    animation: Pug-nod 3s infinite;
    transform-origin:40% 90%;
}
#pugB{
    width: 25%;
    height: auto;
    position: absolute;
    bottom: 6%;
    left: 0;
    right: 0;
    margin: auto;
}
#pugtail{
    position: absolute;
    width: 11%;
    bottom: 26%;
    left: 34%;
    animation: Pug-nod 1s infinite;
    transform-origin: bottom right;
}
#pugMove{
    width: 60%;
    height: 63%;
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    margin: auto;
    animation: move 3s infinite;
}
#pugRLeg{
    width: 44%;
    position: absolute;
    bottom: 9.5%;
    left: 2%;
    transform-origin: bottom right;
    animation: Rleg 3s infinite;
}
#pugLLeg{
    width: 43%;
    position: absolute;
    bottom: 0%;
    left: 15%;
    animation: Lleg 3s infinite;
    transform-origin: bottom right;
}
#pugFace2{
    width:46%;
    position: absolute;  
    top: 16%;
    left: 6%;
    animation: headDown 3s infinite;
    transform-origin: bottom center;
}
#pugBody2{
    width: 70%;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: bodyScale 3s infinite;
}
#pugShadow{
    width: 58%;
    position: absolute;
    bottom: 11%;
    left:20%;
    opacity: 0.2;
    animation: Pshadow 3s infinite;
}
@keyframes Pshadow {
    50% {transform: scaleX(0.95); left:23%;}
}
@keyframes move{
    50% {left:3%;}
}
@keyframes headDown {
    30% {top: 22%;}
    60% {top: 22%; transform: rotate(-10deg);}
}
@keyframes bodyScale {
    50%{transform: scaleX(0.9);}
}
@keyframes Rleg{
    50% {transform: rotate(2deg); left:3%;}
}
@keyframes Lleg{
    50% {transform: rotate(5deg); left:10%;}
}
@keyframes Pug-nod {
    50% {transform:  rotate(-20deg);}
}
/*---------------------------------- BEAGLE ---------------------------------*/
/*---------------------------------------------------------------------------*/
#beagleH{
    width: 24%;
    height: auto;
    position: absolute;
    bottom: 43%;
    left: 43%;
    animation: Pug-nod 3s infinite;
    transform-origin:40% 90%;
}
#beagleB{
    width: 23.5%;
    height: auto;
    position: absolute;
    bottom: 6%;
    left: 41%;
}
#beagle-tail{
    position: absolute;
    width: 7.5%;
    bottom: 18%;
    left: 38%;
    animation: Pug-nod 1s infinite;
    transform-origin: bottom right;
}
#beagle-body2{
    width: 42%;
    position: absolute;
    bottom: 9%;
    left:30%;
}
#beagle-face{
    width:20%;
    height: 80px;
    position:absolute;
    left: 59%;
    top:5%;
    transform-origin: bottom center;
    animation: beagle-nod 2s infinite;
}
#beagle-head2{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#beagle-ear{
    width: 33%;
    position: absolute;
    top: 7%;
    left:-11%;
    transform-origin: top right;
    animation: beagle-ear 2s infinite;
}
#beagle-tail2{
    width: 16%;
    position: absolute;
    left: 22%;
    bottom: 46%;
    transform-origin: bottom right;
    animation: Pug-nod 1s infinite;
}
#beagle-shadow{
    width: 45%;
    opacity: 0.3;
    position: absolute;
    bottom: 5%;
    left: 28%;
}

@keyframes beagle-nod {
    50% {transform:  rotate(10deg);}
}
@keyframes beagle-ear {
    50% {transform:  rotate(5deg);}
}
/*-------------------------------- SHIBA INU --------------------------------*/
/*---------------------------------------------------------------------------*/
#shibaH{
    width: 18.7%;
    height: auto;
    position: absolute;
    bottom: 47%;
    left: 37%;
    animation: Shiba-nod 3s infinite;
    transform-origin: bottom right;
}

#shibaB{
    width: 25%;
    height: auto;
    position: absolute;
    bottom: 6%;
    left: 0;
    right: 0;
    margin: auto;
}
#shibaRun{
    width: 57%;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
    animation: jump 2s infinite, scales 2s infinite;
}
#shibaTail{
    width: 32%;
    position: absolute;
    top: -15%;
    right: 10%;
    animation: tail 1.5s ease-in-out infinite;
    transform-origin: 20px 80% 300px;
}
#shibaShadow{
    width: 50%;
    position: absolute;
    bottom: 7%;
    left:0;
    right: 0;
    margin: auto;
    opacity: 0.2;
    animation: shadow 2s infinite;
}
@keyframes shadow{
    50% {transform: scale(0.8); opacity:0.1};
}
@keyframes tail{
    50% {transform: rotate(13deg)};
}
@keyframes jump{
    50% {bottom:15%;}
}
@keyframes scales{
    50%{transform: scale(1,0.95)}
}
@keyframes Shiba-nod{
    50% {transform:  rotate(15deg);}
}
/*--------------------------------- BULLDOG ---------------------------------*/
/*---------------------------------------------------------------------------*/
#bulldog-Ani1{
    width: 47%;
    position:absolute;
    left: 0;
    right: 0;
    top:74px;
    margin: auto;
}
#bulldog-mouse{
    width: 24%;
    position: absolute;
    top: 35px;
    left: 11px;
}
#bulldog-body{
    width:100%;
    position: absolute;
}
#bulldog-ear{
    width: 18%;
    position: absolute;
    top: 1px;
    left: -8px;
    transform: rotate(-7deg);
    transform-origin: right bottom;
    animation: bulldog-ear 2s infinite;
}
.bulldog-eyes{
    width: 9.5%;
    position: absolute;
    animation: bulldog-eyes 1s infinite;

}
#bulldog-eye1{
    left:6px;
    top:28px;
}
#bulldog-eye2{
    left: 38px;
    top:27px;
}
#bulldog-head2{
    width: 20%;
    position: absolute;
    top: 5%;
    left:30%;
    z-index: 200;
    transform-origin: bottom center;
    animation: bulldog-head 2s infinite;
}
#bulldog-body2{
    width: 37%;
    position: absolute;
    bottom: 8%;
    left: 27%;
}
#bulldogShadow{
    width: 38%;
    opacity: 0.3;
    position: absolute;
    left:26%;
    bottom: 7%;
    
}
@keyframes bulldog-ear{
    50%{transform: rotate(7deg)}
}
@keyframes bulldog-eyes{
    50%{transform:scale(1.05)};
}
@keyframes bulldog-head{
    50%{transform: rotate(5deg)}
}
/*--------------------------- TUTORIAL & QUIZ PAGE --------------------------*/
/*---------------------------------------------------------------------------*/
.textBox #alertI{
    width: 26px;
    margin:0 3% 0% 1%;
    height: auto;
    display: inline-block;
}
.textBox p{
    display: inline-block;
}

#cost{
    width: 110px;
    height: auto;
    margin: -6px auto 0px auto;
}
#bar{
    width: 300px;
    height: 40px;
    margin: 4px auto 0 auto;
}
.textBox{
    margin: auto;
    width: 79%;
    height: auto;
    background-color: #F2F1F1;
    font-size: 0.75rem;
    padding: 0% 5%;
    margin-top: 0.5rem;
    padding-bottom: 5px;
    border-radius: 10px;
    display: block;
    line-height: 1.2rem;
}
.infoTitle{
    width: auto;
    margin: 0px 4px 9px 4px;
    height: auto;
    display: inline-block;
    line-height: 1.5rem;
}
#info2-lineHeight{
    line-height: 1.5rem;
}
.info2{
    font-weight: 800;
    color: #569C9D;
    display: inline-block;
    margin-top:0px;
    width: 55%;
    margin-left: 8px;
    height: auto;
}
.dogpad{
    width: 16px;
    margin: 0px 2px 0 2px;
    padding-top: 0px;
    padding-bottom: -8px;
    
}
.dogpadArea{
    line-height: 1rem;
    padding-top: 0px;
}
#nextInfo{
    width: 20px;
    padding: 0px 4px;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 31%;
}
#buttonArea{
    margin-top:1.5rem;
}
.icons{
    width: 37.5%;
    align-content: center;
    margin: 10px auto;
    padding-left: 5px;
}
.icons img{
    width: 33px;
    margin: 0 6px;
}
#toy{
    width: 27px;
}
#food{
    width: 35px;
}
#eachItemImg{
    width: 28%;
    height: 28%;
    margin: auto;
}
#item1{
    width: 100%;
    height: 90%;
    margin: auto;
    padding-top: 10px; 
}
.itemB{
    width:90%;
    height: auto;
}
#itemsInfo{
    height: 48.6%;  
    margin-top: 2rem;
    }
.itemsBox {
    margin: auto;
    width: 68%;
    height: auto;
    background-color: #F2F1F1;
    font-size: 0.75rem;
    padding: 3% 5%;
    margin-bottom: 1rem;
    border-radius: 10px;
    display: block;
    text-align: justify;
}
.itemsBox p{
    font-weight: 600;
    line-height: 1.2rem;
}
.itemsBox h3, h2{
    text-align: center;
}
#infograph1{
    margin-top: 0.5rem;
}
.back{
    width: 15px;
    position: absolute;
    z-index: 100;
    top: 1.7%;
    left: 2.5%;
    opacity: 0.9;
}
#iconBoxBorder{
    width: 60px;
    margin: auto;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    top: 100%;
    left: -60px;
    transition: left 1s;
}
.iconBox{
    width: 30px;
    height:30px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 7px;
    margin: 10px auto; 
}
.arrow{
    width: 25px;
    margin: 2.5px 0px;
}
#NextArrow{
    width: 30px;
    height: 30px;
    padding: 5px;
    position: absolute;
    right: 0%;
    top: 40%;
}
#PrevArrow{
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 5px;
    left: 0%;
    top: 40%;
    display: none;
}
#DogAnimaArea{
    width: 100%;
    height: 196px;
    bottom: 0;
    position:absolute;
}

#progressNum{
    font-family: 'Nunito', sans-serif; 
    position: absolute;
    color: cadetblue;
    top: 12.4%;
    left: 25%;
    font-size: 0.9rem;
}
#progressNum2{
    font-family: 'Nunito', sans-serif;
    position: absolute;
    color:  cadetblue;
    top: 12.4%;
    right: 22%;
    font-size: 0.9rem;
}
#progressBar{
    height: 10px;
    width: 150px;
    position: absolute;
    top: 15%;
    right: 0%;
    left: 0%;
    margin: auto;
    border-radius: 20px;
    background-color: white;
/*    border:2px solid #777;*/
    overflow: hidden;
    
}
#progress{
    width: 30px;
    height: 10px;
    background-color: cadetblue;
    z-index: 100;
    position: absolute;
    bottom: 0;
    transition: 1s;
}

#goToQuiz{
    background-color: #2A81B9;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 150px;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
}

#goToQuiz:hover{
    background-color:#F2F1F1;
    color: #2A81B9; 
    border: 3px solid #2A81B9; 
}
#complete{
    margin: auto;
    align-content: center;
    text-align: center;
}
#redTitle{
    background-color: #D33737;
}
#quizType h3{
    display: inline-block;
}
#quizType{
    width: 70%;
    margin-left: 13%;
    display: inline-block;
}
#quizProgress{
    margin-left: 0.5rem;
    width: 50%;
    display: inline-block;
}
.circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 30px;
}
#quiz1{
    background-color: #D33737;
}
.answersCircle{
    width: 10%;
    height: auto;
    display: inline-block;
    margin-top: 2px;
}
.answerLists{
    width: 60%;
    height: auto;
    display: inline-block;
    font-size: 0.8rem;
    margin: 5px 0px 0px 10px;
    position: absolute;
}
.rightanswers{
    width: 80%;
    margin-left: 2.5rem;
    font-size: 0.7rem;
    color: #444;
    text-align: left;
}
#nextQuiz{
    font-size: 0.9rem;
    background-color: #7D995F; 
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 150px;
    margin: auto;
    display: block;
    margin: 2rem auto 1rem auto;
    font-size: 1.1rem;
    display: none;
}
#thirdAnswer h2{
    display: inline-block;
    font-size:0.75rem;
    margin:-7px 0 -7px 0;
    font-family: 'open sans'!important;
}
#i{
    font-size: 0.7rem;
    color:#D33737;
    line-height:0.5rem !important;
}
/*----------------------------- quiz-money part -----------------------------*/
/*---------------------------------------------------------------------------*/
#money{
    width: 90px;
    height: auto;
    height: auto;
    display: inline-block;
    margin: 50px 18px 20px 18px ;
    animation: shaking 2s infinite ease-out;
}
#money2{
    width: 90px;
    height: auto;
    height: auto;
    display: inline-block;
    margin: 30px 18px 20px 18px ;
    animation: shaking 2s infinite ease-out;
}
@keyframes shaking {
    50%{transform: scale(1.05) rotate(10deg);}
}
@keyframes big {
    50%{transform: scale(1.05); opacity: 0.5}
}
/*----------------------------- quiz-brush part -----------------------------*/
/*---------------------------------------------------------------------------*/
#brush1{
    display: inline-block;
    width: 25px;
    margin: 2rem 1rem 1rem 2rem ;
    animation: big 2s infinite;
}
#brush2{
    width:50px;
    margin: 2rem 1rem 1rem 2rem ;
    animation: big 1.8s infinite;
}
#brush3{
    width: 43px;
    margin: 1rem 1rem 1rem 1rem ;
    animation: big 2.5s infinite;
}
#brush4{
    width: 44px;
    margin: 0rem 2rem 1rem 4rem ;
    animation: big 2s infinite;
}
#brush5{
    width: 24px;
    margin: 0rem 3rem 1rem 1rem ;
    animation: big 2.5s infinite;
}
@keyframes big {
    50%{transform: rotate(10deg)}
}

/*--------------------------------- Last page -------------------------------*/
/*---------------------------------------------------------------------------*/
#textBox{
    margin:0 auto;
    width: 70%;
    height: auto;
    background-color: #F2F1F1;
    font-size: 0.8rem;
    padding: 3% 5%;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    display: block;
    line-height: 1.2rem;

}
#textBox h4{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#textBox p{
    font-weight: 400;
}
#passed {
    color: white;
    margin-top:2rem;
    text-align: center;
}
#center2 {
    transform: translate(0%, 0%);
    margin: 1.5rem 0 1.7rem 0;
}
.pulse_fail {
    width: 150px;
    height: 150px;
    margin:0 112.5px;
    border-radius: 50%;
    animation: animate 3s linear infinite;
}
.pulse_passed {
    width: 150px;
    height: 150px;
    margin:0 112.5px;
    border-radius: 50%;
    animation: animate2 3s linear infinite;
}
#lastpage .clickB2:hover{
    color:#FFDA6F;
    background-color: rgba(0,0,0,0);
    border: 2px solid #FFDA6F;
}
@keyframes animate 
{
    0% {
        box-shadow: 0 0 0 3px rgba(255,200,111,0);
    }
     40% {
        box-shadow: 0 0 0 9px rgba(255,218,111,.9);
    }
     80% {
        box-shadow: 0 0 0 4px rgba(255,118,111,.5);
    }
     100% {
        box-shadow: 0 0 0 2px rgba(255,118,111,0);
    }
}

@keyframes animate2 
{
    0% {
        box-shadow: 0 0 0 3px rgba(255,208,91,0);
    }
     40% {
        box-shadow: 0 0 0 9px rgba(255,208,91,.9);
    }
     80% {
        box-shadow: 0 0 0 4px rgba(255,208,91,.5);
    }
     100% {
        box-shadow: 0 0 0 2px rgba(255,208,91,0);
    }
}








