
@import url('https://fonts.googleapis.com/css?family=Nunito:800,900|Open+Sans:300,400,600,700');
@media only screen and (max-width : 1366px) and (min-width : 900px){
        /* 2 tile */
            .wrapper{
            width:100%; 
           
            }
    }


/*----------------------------------------------------------------*/
h1,h2,h3,h4{
    font-family: 'Nunito', sans-serif;
}
p, body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
#wrapper{
    width: 375px;
    height: 667px;
    background-color: #64A4C3;
    position: absolute;
    top: 0;
    left: 0;
}
#wrapper2{
    width: 375px;
    height: 667px;
    background-color: #FFDA6F;
    position: absolute;
    top: 0;
    left: 0;
}
#landingPage{
    width: 100%;
    height: 100%;
    position: relative;   
}
#logo{
    width: 40%;
    height: auto;
    margin: auto;
    position: absolute; 
    top: 15%; 
    left: 0; 
    right: 0; 
}
button, input{
    font-size: 1.1rem;
}
a{
    text-decoration: none;
}
#userN{
    width: 230px;
    height: 45px;
    border-radius: 80px;
    border: none;
    position: absolute;
    top: 46%;
    left: 0;
    right: 0;
    margin: auto;
    align-content: center;
    text-align: center;
}
#saveUN{
    width: 165px;
    font-size: 0.75rem;
    height: auto;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    
}
.clickB{
    background-color: #2A81B9;
    color: white;
    width: 160px;
    height: 45px;
    border: none;
    border-radius: 150px;
    margin: auto;
    display: block;
    margin-bottom: 1rem; 
}
.clickB:hover{
    background-color: #ffffff;
    color: #2A81B9;  
}
.clickB2{
    font-size: 0.9rem;
    background-color: #FFDA6F; 
/*    border: 2px solid #7D995F;*/
    color: #555;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 150px;
    margin: auto;
    display: block;
    margin-bottom: 1rem; 
}
.clickB2:hover{
    background-color: #7D995F;
    color: #FFFFFF;  
}
#startB{
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
}

.title{
    width: 100%;
    height: 50px;
    position: relative;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 1.1rem;
} 
.title p{
    position: absolute;
    top:25%;
    left: 0;
    right: 0;
    margin: auto;
    font-family:'Nunito', sans-serif;
}
#sizeC{
    width: 85px;
    height: auto;
    margin: 2.5rem auto;
}
.sizeB{
    width: 85px;
    height: 85px;
    background-color:#2A81B9; 
    border: none;
    border-radius: 15px;
    font-size: 2.5rem;
    font-family: 'Nunito', sans-serif;
    color: white;
    margin:1rem auto;
    cursor: pointer;
    text-align: center;
    align-content: center;
}
.sizeB:hover{
    background-color: #1F3944;
    color: white;
}
#largeS:hover{
    background-color: #1F3944;
    background-image: url(SVG/locked.svg);
    background-position: center;
    background-size: auto 65%;
    background-repeat: no-repeat;  
}
#dogC{
    width: 120px;
    height: auto;
    margin: 3rem auto;
}
#shiba{
    background-image: url(SVG/shibaIcon.svg);
}
#bulldog{
    background-image: url(SVG/bulldogIcon.svg);
}
#pug{
    background-image: url(SVG/pugIcon.svg);
}
#beagle{
    background-image: url(SVG/beagleIcon.svg);
}
.dogType{
    width: 120px;
    height: 120px;
    background-color:#64A4C3; 
    border: none;
    border-radius: 15px;
    font-size: 2.5rem;
    font-family: 'Nunito', sans-serif;
    color: white;
    margin:1rem auto;
    cursor: pointer; 
    background-position: center;
    background-size: auto 80%;
    background-repeat: no-repeat;
}
#alert:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 9px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	margin-left: -9px;
	margin-top: -9px;
}
#alert{
    width: 235px;
    background-color: #ffffff;
    border-radius: 6px;
    height: 30px;
	content: '';
    position: relative;
    bottom: 25.5%;
    left: 0;
    right: 0;
    margin:auto;
    font-size: 0.7rem;
    text-align: center;
}
#alert p{
    display: inline-block;
    position: absolute;
    top: -10%;
    left: 13%;
    right: 0;
    bottom: 0;
}
#alert img{
    position: absolute;
    left: 3%;
    top: 15%;
    width: 20px;
    display: inline-block;
}
#dogName{
    width: 100%;
    height: 20%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #D33737;
    align-content: center;
    text-align: center;
}
.backIcon{
    width: 20px;
    padding: 13px 15px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 25%;
}
#wrapper5{
    width: 375px;
    height: 680px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}
#dogImg{
    background-color: #FFDA6F;
    width: 100%;
    height: 36%;
    position: relative;
    top: 0;
    left: 0;
}
#dogN{
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto; 
}
/*
#shibaStand{
    width: 24%;
    height: auto;
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    margin: auto;
}
*/
#shibaH{
    width: 18.7%;
    height: auto;
    position: absolute;
    bottom: 47%;
    left: 37%;
    animation: nod 3s infinite;
}
@keyframes nod{
    0% {transform:  rotate(0deg);}
    50% {transform:  rotate(20deg); left:40.2%;}
}
#shibaB{
    width: 25%;
    height: auto;
    position: absolute;
    bottom: 6%;
    left: 0;
    right: 0;
    margin: auto;
}
#grass{
    position: absolute;
    bottom: -1%;
}
.textBox #alertI{
    width: 26px;
    margin:0 3% 0% 1%;
    height: auto;
    display: inline-block;
}
.textBox p{
    display: inline-block;
}

#money{
    width: 110px;
    height: auto;
    margin: -6px auto 0px auto;
}
#bar{
    width: 300px;
    height: 40px;
    margin: 4px auto 0 auto;
}
.textBox{
    margin: auto;
    width: 79%;
    height: auto;
    background-color: #F2F1F1;
    font-size: 0.75rem;
    padding: 0% 3%;
    margin-top: 0.5rem;
    border-radius: 10px;
    display: block;
    line-height: 1.2rem;
}

#nextInfo{
    width: 20px;
    padding: 0px 4px;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 31%;
}
#buttonArea{
    margin-top:1.5rem;
}

.dogpad{
    width: 16px;
    margin: 0px 2px 0 2px;
    padding-top: 0px;
    padding-bottom: -8px;
}
.dogpadArea{
    display: inline-block;
    width: 130px;
    margin-left: 12px;
}
.icons{
    width: 37.5%;
    align-content: center;
    margin: 10px auto;
    padding-left: 5px;
}
.icons img{
    width: 33px;
    margin: 0 6px;
}
#toy{
    width: 27px;
}
#food{
    width: 35px;
}
#eachItemImg{
    width: 30%;
    height: 30%;
    margin: auto;
}
#item1{
    width: 100%;
    height: 90%;
    margin: auto;
    padding-top: 10px; 
}
.itemB{
    width:90%;
    height: auto;
}
#itemsInfo{
    height: 45.6%;  
    margin-top: 2rem;
    }
.itemsBox {
    margin: auto;
    width: 68%;
    background-color: #F2F1F1;
    font-size: 0.75rem;
    padding: 3% 5%;
    margin-bottom: 1rem;
    
    border-radius: 10px;
    display: block;
    text-align: justify;
}
.itemsBox p{
    font-weight: 600;
    line-height: 1.2rem;
}
.itemsBox h3, h2{
    text-align: center;
}
#back{
    width: 9%;
    position: absolute;
    z-index: 100;
    top: 1%;
    left: 2%;
    opacity: 0.6;
}
#iconBoxBorder{
    width: 60px;
    margin: auto;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    top: 100%;
    left: -60px;
    transition: left 1s;
}
.iconBox{
    width: 30px;
    height:30px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 7px;
    margin: 10px auto; 
}
.arrow{
    width: 25px;
    margin: 2.5px 0px;
}
#NextArrow{
    width: 30px;
    height: 30px;
    padding: 5px;
    position: absolute;
    right: 0%;
    top: 40%;
}
#PrevArrow{
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 5px;
    left: 0%;
    top: 40%;
    display: none;
}
#DogAnimaArea{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 233px;
}
#shibaRun{
    width: 60%;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
    animation: jump 2s infinite, scales 2s infinite;
}
#shibaTail{
    width: 32%;
    position: absolute;
    top: -15%;
    right: 10%;
    animation: tail 1.5s ease-in-out infinite;
    transform-origin: 20px 80% 300px;
}
#shibaShadow{
    width: 50%;
    position: absolute;
    bottom: 7%;
    left:0;
    right: 0;
    margin: auto;
    opacity: 0.2;
    animation: shadow 2s infinite;
}
@keyframes shadow{
    50% {transform: scale(0.8); opacity:0.1};
}
@keyframes tail{
    50% {transform: rotate(13deg)};
}
@keyframes jump{
    50% {bottom:16%;}
}
@keyframes scales{
    50%{transform: scale(1,0.95)}
}
#progressNum{
    font-family: 'Nunito', sans-serif; 
    position: absolute;
    color: cadetblue;
    top: 12.4%;
    left: 25%;
    font-size: 0.9rem;
}
#progressNum2{
    font-family: 'Nunito', sans-serif;
    position: absolute;
    color:  cadetblue;
    top: 12.4%;
    right: 22%;
    font-size: 0.9rem;
}
#progressBar{
    height: 10px;
    width: 150px;
    position: absolute;
    top: 15%;
    right: 0%;
    left: 0%;
    margin: auto;
    border-radius: 20px;
    background-color: white;
/*    border:2px solid #777;*/
    overflow: hidden;
    
}
#progress{
    width: 30px;
    height: 10px;
    background-color: cadetblue;
    z-index: 100;
    position: absolute;
    bottom: 0;
}

#pugMove{
    width: 60%;
    height: 63%;
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    margin: auto;
    animation: move 3s infinite;
}
#pugRLeg{
    width: 44%;
    position: absolute;
    bottom: 9.5%;
    left: 2%;
    transform-origin: bottom right;
    animation: Rleg 3s infinite;
}
#pugLLeg{
    width: 43%;
    position: absolute;
    bottom: 0%;
    left: 15%;
    animation: Lleg 3s infinite;
    transform-origin: bottom right;
}
#pugFace2{
    width:46%;
    position: absolute;  
    top: 16%;
    left: 6%;
    animation: headDown 3s infinite;
    transform-origin: bottom center;
}
#pugBody2{
    width: 70%;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: bodyScale 3s infinite;
}
#pugShadow{
    width: 58%;
    position: absolute;
    bottom: 11%;
    left:20%;
    opacity: 0.2;
    animation: Pshadow 3s infinite;
}
@keyframes Pshadow {
    50% {transform: scaleX(0.95); left:23%;}
}
@keyframes move{
    50% {left:3%;}
}
@keyframes headDown {
    30% {top: 22%;}
    60% {top: 22%; transform: rotate(-10deg);}
}
@keyframes bodyScale {
    50%{transform: scaleX(0.9);}
}
@keyframes Rleg{
    50% {transform: rotate(2deg); left:3%;}
}
@keyframes Lleg{
    50% {transform: rotate(5deg); left:10%;}
}
#goToQuiz{
    background-color: #2A81B9;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 150px;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
}

#goToQuiz:hover{
    background-color:#F2F1F1;
    color: #2A81B9; 
    border: 3px solid #2A81B9; 
}
#complete{
    margin: auto;
    align-content: center;
    text-align: center;
}
#redTitle{
    background-color: #D33737;
}
#quizType h3{
    display: inline-block;
}
#quizType{
    width: 70%;
    margin-left: 13%;
    display: inline-block;
}
#quizProgress{
    margin-left: 0.5rem;
    width: 50%;
    display: inline-block;
}
.circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 30px;
}
#quiz1{
    background-color: #D33737;
    
}


@media only screen and (max-width :667px) and (min-width : 100px) and (-webkit-min-device-pixel-ratio:2){
    #wrapper{
        width: 100vw;
        height: 667px;
    }

}
