@import url('https://fonts.googleapis.com/css?family=Nunito:800|Open+Sans:400,700');
h1,h2,h3,h4{
    font-family: 'Nunito', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}
 body{
     background-color: #64A4C3;
                
}
#wrapper{
    width:100vw; 

}
#logo{
    width: 200px;
    height: auto;
    position: relative;   
}
#userN{
    width: 20%;
    height: 55px;
    border-radius: 80px;
    border: none;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    margin: auto;
    align-content: center;
    text-align: center;
    font-size: 1.5rem;
    }
#saveUN{
    width:200px;
    font-size: 1rem;
    height: auto;
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Open Sans', sans-serif;  
}
.clickB{
    background-color: #2A81B9;
    color: white;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 130px;
    margin: auto;
    display: block;
    margin-bottom: 0.6rem; 
    font-size: 1.5rem;
}
.clickB:hover{
    background-color: #ffffff;
    color: #2A81B9;  
}
#startB{
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
}

/*//////////////////////////////////////////////////////////-------------------------------Media Query-------------------------------------//////////////////////////////////////////////////////////*/
        @media only screen and (min-width : 900px){
        /* 2 tile */
/*
            body{
                background-color: #64A4C3;
                
            }
            #wrapper{
                width:100vw; 
           
            }
            #logo{
                width: 200px;
                height: auto;
                position: relative;   
            }
            #userN{
                width: 20%;
                height: 45px;
                border-radius: 80px;
                border: none;
                position: absolute;
                top: 55%;
                left: 0;
                right: 0;
                margin: auto;
                align-content: center;
                text-align: center;
                font-size: 1.5rem;
                }
            #saveUN{
                width: 20%;
                font-size: 1rem;
                height: auto;
                position: absolute;
                top: 63%;
                left: 0;
                right: 0;
                margin: auto;
                font-family: 'Open Sans', sans-serif;  
            }
*/
   
    }
         @media only screen and (max-width : 900px) and (min-width : 600px) {
        /* 1 tiles */
       
      
    }
           
         @media only screen and (max-width : 600px) and (min-width : 320px) {
             /* 1 tiles */
             
            body{
                 background-color: white;
             }
            #wrapper{
              margin: auto;
                width: 375px;
                height: 667px;
                background-color: #64A4C3;
            }

            #landingPage{
                width: 100%;
                height: 100%;
                position: relative;   
            }
            #logo{
                width: 40%;
                height: auto;
                margin: auto;
                position: absolute; 
                top: 15%; 
                left: 0; 
                right: 0; 
            }
            button, input{
                font-size: 1rem;
            }
            a{
                text-decoration: none;
            }
            #userN{
                width: 230px;
                height: 45px;
                border-radius: 80px;
                border: none;
                position: absolute;
                top: 46%;
                left: 0;
                right: 0;
                margin: auto;
                align-content: center;
                text-align: center;
                font-size: 1rem;
            }
            #saveUN{
                width: 165px;
                font-size: 0.75rem;
                height: auto;
                position: absolute;
                top: 55%;
                left: 0;
                right: 0;
                margin: auto;
                font-family: 'Open Sans', sans-serif;  
            }
            .clickB{
                width: 140px;
                height: 45px;
                border-radius: 80px;
                margin-bottom: 0.6rem; 
            }
            #startB{
                top: 65%;
                font-size: 1rem;
            }
    
    
}
    

