@import url('https://fonts.googleapis.com/css?family=Nunito:800|Open+Sans:400,700');
h1,h2,h3,h4{
    font-family: 'Nunito', sans-serif;
}
p,body{
    font-family: 'Open Sans', sans-serif;
}
 body{
     background-color: #64A4C3;
                
}
#wrapper{
    width:100%; 
    height: auto;
    margin: 0;
}
#menuPage{
    width:100%; 
    height: 100vh;
    margin: 0;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(105,114,127,0.5);
    display: none;
}
#menu{
    width:100%;
    height:auto;
    font-size: 1rem;
    position: absolute;
    top: 0px;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 50;
}
#about{
    background-color: #D33737;
    top: -132px;
    left: 0;
    color: white;
}
#howToPlay{
    background-color: #FFDA6F;
    top: -132px;
    right: 0;
}
#aboutPage ul{
    font-size: 0.9rem;
    text-align: left;
    font-weight: 400;
}
#aboutPage i{
    font-size: 0.9rem;
    color:#D33737 ;
}
.menu{
    width:50%;
    height:auto;
    padding:10% 0%;
    position: absolute;
    float: left;
    display: inline-block;
    text-align: center;
    font-weight: bolder;
    transition: 1s;
    z-index: 50;
}
.menu:hover{
    color: white;
}
#questionMark{
    width: 30px;
    height: auto;
    margin: 5px;
    position: absolute;
    top: 0;
    background
    left: 100px;
}
#aboutPage{
    background-color:rgba(255,255,255,0.8);
    width: 75%;
    height: 65%;
    padding: 7%;
    position: absolute;
    top:150px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: justify;
    font-size: 0.9rem;
    border-radius: 10px;
    display: none;
    overflow: auto;
    z-index: 60;
}
#aboutPage h3{
    text-align: center;
}
#close{
    font-family: 'Nunito', sans-serif; 
    font-size: 1.7rem;
    border-radius: 20px;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 100;
}
#logo{
    width: 200px;
    height: auto;
    margin: auto;
    margin-top: 5rem;
    
}
#user{
    width: 280px;
    margin: auto;
}
#userN{
    width: 100%;
    height: 55px;
    border-radius: 80px;
    border: none;
    margin:auto;
    margin-top: 2rem;
    align-content: center;
    text-align: center;
    font-size: 1.5rem;
    display: inline-block;
    }
#saveUN{
    width:200px;
    font-size: 1rem;
    height: auto;
    margin: auto;
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif;  
}
.clickB{
    background-color: #2A81B9;
    color: white;
    width: 210px;
    height: 60px;
    border: none;
    border-radius: 160px;
    margin: auto;
    display: block;
    margin-bottom: 0.6rem; 
    font-size: 1.4rem;
}
.clickB:hover{
    background-color: #ffffff;
    color: #2A81B9;  
}
a{
    text-decoration: none;
}
#startB{
    margin-top: 2rem;
}

/*//////////////////////////////////////////////////////////-------------------------------Media Query-------------------------------------//////////////////////////////////////////////////////////*/
        @media only screen and (min-width : 900px){
            #menuImg{
                 display: none;
             }
            #menu{
                display: none;
            }
           
        /* 2 tile */
/*
            body{
                background-color: #64A4C3;
                
            }
            #wrapper{
                width:100vw; 
           
            }
            #logo{
                width: 200px;
                height: auto;
                position: relative;   
            }
            #userN{
                width: 20%;
                height: 45px;
                border-radius: 80px;
                border: none;
                position: absolute;
                top: 55%;
                left: 0;
                right: 0;
                margin: auto;
                align-content: center;
                text-align: center;
                font-size: 1.5rem;
                }
            #saveUN{
                width: 20%;
                font-size: 1rem;
                height: auto;
                position: absolute;
                top: 63%;
                left: 0;
                right: 0;
                margin: auto;
                font-family: 'Open Sans', sans-serif;  
            }
*/
   
    }
         @media only screen and (max-width : 900px) and (min-width : 550px) {
        /* 1 tiles */
             #menuImg{
                 display: none;
             }
             #menu{
                display: none;
             }
       
      
    }
           
         @media only screen and (max-width :550px) and (min-width : 100px) {
             /* 1 tiles */
             
        
            #wrapper{
                margin:0 auto;
                width: 100%;
                height: auto;
                background-color: #64A4C3;
            }
            #logo{
                margin-top: 5.5rem;
                width: 40%;
            }
            button, input{
                font-size: 1rem;
            }
            #user{
                 width: 230px;
             }
            #userN{
                height: 45px;
                font-size: 1rem;
            }
            #saveUN{
                width: 165px;
                font-size: 0.75rem;
            }
            .clickB{
                width: 175px;
                height: 50px;
                border-radius: 150px;
                margin-bottom: 1rem; 
            }
            #startB{
                margin-top: 3rem;
                font-size: 1.2rem;
                
            }
    
}
    

